---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">
  <url>
    <loc>{{ site.url }}/</loc>
    <xhtml:link rel="alternate" hreflang="es" href="{{ site.url }}/"/>
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/"/>
    <xhtml:link rel="alternate" hreflang="pt-PT" href="{{ site.url }}/pt/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="{{ site.url }}/"/>
    <changefreq>monthly</changefreq>
    <priority>1.0</priority>
  </url>
  <url>
    <loc>{{ site.url }}/en/</loc>
    <xhtml:link rel="alternate" hreflang="es" href="{{ site.url }}/"/>
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/"/>
    <xhtml:link rel="alternate" hreflang="pt-PT" href="{{ site.url }}/pt/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="{{ site.url }}/"/>
    <changefreq>monthly</changefreq>
    <priority>0.9</priority>
  </url>
  <url>
    <loc>{{ site.url }}/pt/</loc>
    <xhtml:link rel="alternate" hreflang="es" href="{{ site.url }}/"/>
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/"/>
    <xhtml:link rel="alternate" hreflang="pt-PT" href="{{ site.url }}/pt/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="{{ site.url }}/"/>
    <changefreq>monthly</changefreq>
    <priority>0.9</priority>
  </url>
  <url>
    <loc>{{ site.url }}/servicios/gestorias/</loc>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>{{ site.url }}/servicios/hosteleria/</loc>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>{{ site.url }}/servicios/comercio/</loc>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>{{ site.url }}/servicios/tecnicos/</loc>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>{{ site.url }}/guias/</loc>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>{{ site.url }}/guias/que-es-un-agente-de-ia/</loc>
    <lastmod>2026-07-14</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>{{ site.url }}/guias/automatizar-facturas-gestoria/</loc>
    <lastmod>2026-07-14</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>{{ site.url }}/guias/cuanto-cuesta-automatizar-procesos/</loc>
    <lastmod>2026-07-14</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>{{ site.url }}/noticias/</loc>
    <changefreq>weekly</changefreq>
    <priority>0.7</priority>
  </url>
{%- for item in noticias %}
  <url>
    <loc>{{ site.url }}/noticias/{{ item.slug }}/</loc>
    <lastmod>{{ item.fecha }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.5</priority>
  </url>
{%- endfor %}
</urlset>
